@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

:root {
  // Colors
  --first-color: #1a73e8;
  --input-color: #80868b;
  --border-color: #dadce0;

  // Typography
  --body-font: 'Roboto', sans-serif;
  --normal-font-size: 1rem;
  --small-font-size: 0.75rem;
}
